@use "../abstracts" as *;

.profile {
    display: inline-block;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

#home .profile {
    height: 450px;
    background-image: url("./img/profileLeft.jpg");

}

#about .profile {
    height: 450px;
    background-image: url("./img/profileRight.jpg");
}