@use "./variables" as *;


//? .background
@mixin backgroundGrid {
    border: 2px solid $borderBackGround;
    background-color: $secBackGround;
    background-size: 15px 15px;
    background-image:
        linear-gradient(to right, $lineBackGround .7px, transparent .5px),
        linear-gradient(to bottom, $lineBackGround .6px, transparent .5px);
}