//* Colors
$priFont: #FFFFFF;
$priBackGround: #006FFF;
$priAltColor: #ffff00;
$secBackGround: #007CF8;
$lineBackGround: #AAAAAA;
$borderBackGround: #DDDDDD;

//*Text
$textSize: 20px;
$mainTitleSize: 165px;
$subHeadingSize: 48px;
$navBrandSize: 60px;
$navLinkSize: 45px;

//? .headingScroll 
$transMinusX100p: translateX(-200vw);
$transMinusX50p: translateX(-100vw);
$transPosX100p: translateX(200vw);
$transPosX50p: translateX(100vw);
$transX0p: translateX(0vw);